<button class="btn btn-primary" id="popover-example">Show popover</button>
{{#es-popover for="popover-example" as |popover|}}
  Some content
  <button class="btn btn-default" type="button" {{action 'hide' target=popover}}>Close</button>
{{/es-popover}}
