<div class="modal {{if animation 'fade'}}" tabindex="-1" role="dialog">
  <div class="modal-dialog {{sizeClass}}">
    <div class="modal-content">
      {{#with innerComponent as |component|}}
        {{es-view component hide="hide"}}
      {{/with}}
    </div>
  </div>
</div>
