<div class="bs-docs-section" id="affix">
  <h1>Affix</h1>
  <p>
    EmberStrap provides a component to use boostrap affix with Ember easily.
  </p>

  <h3>Example</h3>
  <div class="bs-example">
    Look at the menu
  </div>
  {{code-snippet name="affix.hbs"}}

  <h3>Options</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>offset</td>
        <td class="col-md-1">number | object | function</td>
        <td>10</td>
        <td>
          Pixels to offset from screen when calculating position of scroll.
          If a single number is provided, the offset will be applied in both top and bottom directions.
          To provide a unique, bottom and top offset just provide an object
          <code>offset: { top: 10 }</code> or <code>offset: { top: 10, bottom: 5 }</code>.
          Use a function when you need to dynamically calculate an offset.
        </td>
      </tr>
      <tr>
        <td>targetElement</td>
        <td>string | object</td>
        <td>the <code>window</code> object</td>
        <td>
          Specifies the target element of the affix.
        </td>
      </tr>
    </tbody>
  </table>
</div>
