<div class="bs-docs-section" id="getting-started">
  <h1>Getting started</h1>
  <div class="bs-callout bs-callout-info">
    <h4>About the project</h4>
    <p>
      EmberStrap tries to provide a simple way to use the Bootstrap components in Ember.<br>
      This project is inspired by <a href="http://mgcrea.github.io/angular-strap/">AngularStrap</a>.
    </p>
  </div>

  <h3>Installation</h3>
  The simpliest way to install it is to use ember-cli addons.
  <pre>$ ember install:addon ember-strap</pre>
</div>
