<div class="bs-docs-section" id="modal">
  <h1>Modal</h1>

  <div class="bs-callout bs-callout-info">
    <h4>Design</h4>
    <p>
      The modal implementation is inspired by the
      <a href="http://emberjs.com/guides/cookbook/user_interface_and_interaction/using_modal_dialogs/">
        Ember Cookbook
      </a>.
    </p>
  </div>

  <h3>Example</h3>
  <div class="bs-example">
    <button class="btn btn-primary" {{action 'openExampleModal'}}>Open modal</button>
  </div>

  {{code-snippet name="modal.js"}}

  <h3>Mixin</h3>
  <p>
    EmberStrap provides <code>ModalMixin</code> to manage modal.
  </p>
  <h4>
    .renderModal
    <small>(templateName, options)</small>
  </h4>
  <p>
    Reveals the modal.
  </p>

  <h3>Options</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>controller</td>
        <td>string</td>
        <td>null</td>
        <td>Controller for modal.</td>
      </tr>
      <tr>
        <td>model</td>
        <td>Ember.Object</td>
        <td>null</td>
        <td>Model for modal.</td>
      </tr>
      <tr>
        <td>animation</td>
        <td>boolean</td>
        <td>true</td>
        <td>Applies a CSS fade transition to the modal.</td>
      </tr>
      <tr>
        <td>size</td>
        <td>string</td>
        <td>null</td>
        <td>Defines the modal size. You can use <code>large</code> or <code>small</code>.</td>
      </tr>
      <tr>
        <td>didHideAction</td>
        <td>string</td>
        <td>null</td>
        <td>Action called when modal is hidden.</td>
      </tr>
    </tbody>
  </table>

  <p>You can also use all bootstrap modal options. See <a href="http://getbootstrap.com/javascript/#modals">bootstrap documentation</a>.</p>

  <h3>Actions</h3>
  <h4>hidePopover</h4>
  <p>
    This action is available inside the popover view. It allows to close the popover from the content of it.<br>
    You can write the following code in the template to create a close button.
  </p>
  {{code-snippet name="hide-modal.hbs"}}

  <div class="bs-callout bs-callout-warning">
    <h4>Warning</h4>
    <p>
      EmberStrap can render only one modal at same time.
    </p>
  </div>

  <h3>Events</h3>
  <h4>
    .didHide
    <small>()</small>
  </h4>
  <p>
    Triggered when the modal is hidden.
  </p>
</div>
