<div class="bs-docs-section" id="popover">
  <h1>Popover</h1>
  <p>
    EmberStrap provides a handlebars helper to bind a popover to an element of DOM.
  </p>

  <h3>Example</h3>
  <div class="bs-example">
    <button class="btn btn-primary" {{es-popover templateName="popover-example"}}>Show popover</button>
  </div>

  {{eg-code-highlight language='html' code=popover}}

  <h3>Actions</h3>
  <h4>hidePopover</h4>
  <p>
    This action is available inside the popover view. It allows to close the popover from the content of it.<br>
    You can write the following code in the template to create a close button.
  </p>
  {{eg-code-highlight language='html' code=hidePopover}}

  <h3>Options</h3>
  <p>The popover options are the same as original bootstrap popover. See <a href="http://getbootstrap.com/javascript/#popovers">bootstrap documentation</a>.</p>
</div>
