<div class="bs-docs-section" id="scrollspy">
  <h1>Scrollspy</h1>
  <p>
    With Ember you can't use directly the HTML anchors because the URL fragments are reserved to routes resolution.<br>
    To permit Boostrap Scrollspy usage, EmberStrap embeds a hack which enables scrolling without changing the URL fragment.
  </p>

  <h3>Example</h3>
  {{eg-code-highlight language='html' code=scrollspy}}
</div>
