<div class="bs-docs-section" id="tooltip">
  <h1>Tooltip</h1>
  <p>
    EmberStrap provides a handlebars helper to bind a tooltip to an element of DOM.
  </p>

  <h3>Example</h3>
  <div class="bs-example">
    Enter <a href="#" id="tooltip-example">here</a>.
    {{#es-tooltip for="tooltip-example"}}
      Bazinga!
    {{/es-tooltip}}
  </div>

  {{code-snippet name="tooltip.hbs"}}

  <h3>Options</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>isShown</td>
        <td>boolean</td>
        <td>false</td>
        <td><code>true</code> if the tooltip is shown. You can close it setting <code>isShown</code> to <code>false</code></td>.
      </tr>
      <tr>
        <td>animation</td>
        <td>boolean</td>
        <td>true</td>
        <td>Apply a CSS fade transition to the tooltip</td>
      </tr>
      <tr>
        <td>delay</td>
        <td>number | object</td>
        <td>0</td>
        <td>
          Delay showing and hiding the tooltip (ms) - does not apply to manual trigger type<br>
          If a number is supplied, delay is applied to both hide/show<br>
          Object structure is: <code>delay: { "show": 500, "hide": 100 }</code>
        </td>
      </tr>
      <tr>
        <td>placement</td>
        <td>string | function</td>
        <td>'right'</td>
        <td>
          How to position the tooltip - top | bottom | left | right | auto.<br>
          When "auto" is specified, it will dynamically reorient the tooltip. For example, if placement is "auto left", the tooltip will display to the left when possible, otherwise it will display right.<br>
          When a function is used to determine the placement, it is called with the tooltip DOM node as its first argument and the triggering element DOM node as its second. The <code>this</code> context is set to the tooltip instance.
        </td>
      </tr>
      <tr>
        <td>title</td>
        <td>string</td>
        <td>''</td>
        <td>
          Default title value if <code>title</code> attribute isn't present.
        </td>
      </tr>
      <tr>
        <td>mode</td>
        <td>string</td>
        <td>'hover focus'</td>
        <td>
          How tooltip is triggered - click | hover | focus | manual. You may pass multiple triggers; separate them with a space. <code>manual</code> cannot be combined with any other trigger.
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#tooltip-example').on('click', function() { return false; });
  });
</script>
